*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a3b899;
    min-height: 100vh;
    transition: 5s;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly, center;
    align-items: center;

    height: 90vh;

    font-family: georgia, 'Times New Roman', Times, serif;
    color: cornsilk;
    text-align: center;
    letter-spacing: 0.25em;
}

#floro{
    font-size: 5vh;
    border-bottom: solid 1px cornsilk;
    margin-bottom: 5vh;
    width: 40vh;
}

.clock{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 60vh;
    width: 100%;

    background-color: #dde6d5;
}

#section{
    color: #57762C;
    font-size: 3.5vh;
}

#countdown{
    font-size: 10vh;

    border-bottom: #57762C dashed 1px;
    width: 50vh;
}

#counter{
    color: #57762C;
    font-size: 2vh;

}

.dedicated{
    margin-top: auto;
    letter-spacing: 0.3vh;
    font-size: 1vh;
}

.btn{
    width: 60%;
    display: flex;
    justify-content: space-evenly;

}

#start, #pause{

    width: 13vh;
    height: 5vh;

    font-size: 2vh;
    font-family: inherit;
    color: cornsilk;
    letter-spacing: 0.5vh;

    background-color: #a3b899;
    border: 1px solid #a3b899;



}

button:hover{
    transition: 0.2s;
    box-shadow: 0 0 50px #667b68;
}

button:active{
    transition: 0s;
    opacity: 0.5;
}
